*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --white: #fff;
  --p-color: #7b7b7b;
  --heading-color: #323232;
  --green-color: #52b765;
  --g-box-shadow: -15px -10px 14px rgba(157, 174, 185, 0.05);
  --questions-box-shadow: 0 19px 40px rgba(157, 174, 185, 0.15);
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  margin-top: 13px;
  color: var(--heading-color);
}
p,
small,
li {
  color: var(--p-color);
  font-size: 16px;
  margin: 16px 0 0 0;
  line-height: 27px;
}
img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
}
button {
  height: 52px;
  font-size: 15px;
  border: 0;
  background: var(--green-color);
  color: var(--white);
  z-index: 2;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  margin-top: 30px;
  letter-spacing: 0.04em;
  padding: 6px 14px 6px;
  border-width: 1px;
}

input {
  background: #fff;
  font-size: 16px;
  margin-top: 10px;
  line-height: 25px;
  border: 1px solid #e3e6ea;
  color: #7b7b7b;
  padding: 12px 12px 12px 22px;
  outline: 0;
  font-family: Roboto, sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
  width: 100%;
  -webkit-box-shadow: rgba(157, 174, 185, 0.08) 0 1px 4px;
  box-shadow: rgba(157, 174, 185, 0.08) 0 1px 4px;
}
textarea {
  background: #fff;
  font-size: 16px;
  margin-top: 10px;
  line-height: 25px;
  border: 1px solid #e3e6ea;
  color: #7b7b7b;
  padding: 12px 12px 12px 22px;
  outline: 0;
  font-family: Roboto, sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
  width: 100%;
  max-height: 145px;
  -webkit-box-shadow: rgba(157, 174, 185, 0.08) 0 1px 4px;
  box-shadow: rgba(157, 174, 185, 0.08) 0 1px 4px;
}
address {
  color: var(--p-color);
  font-size: 15px;
}
a {
  color: var(--p-color);
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: var(--green-color);
  outline: 0;
}
button:hover {
  border: 3px solid var(--green-color);
  color: var(--green-color);
  background-color: transparent;
}
.icon-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 85px;
  width: 85px;
  height: 85px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  color: #52b765;
  position: relative;
  top: -4px;
  font-size: 26px;
}
.our_address {
  padding: 20px 30px;
}
.icon-w img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.tt-title h3 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #323232;
  margin: 32px 0 4px 0;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
  position: relative;
  display: inline-block;
}
.icon-wrap {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.tel-social {
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.pls_call {
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  letter-spacing: -0.03em;
  color: #323232;
  transition: color 0.2s ease;
}
.tel-social a:hover {
  color: var(--green-color);
}
.awesome_icons {
  display: flex;
  justify-content: space-around;
  width: 35%;
  padding: 5px 0;
}
.icon-wrap img {
  width: 35px;
}
section {
  margin: 30px 0;
}
.nav-text {
  background-color: var(--white);
  border-bottom: 1px solid #eaeaea;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}
.nav-text p {
  margin-top: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
nav {
  min-height: 78px;
  display: flex;
  padding: 10px 25px;
  position: relative;
  justify-content: space-between;
  box-shadow: var(--questions-box-shadow);
  background-color: var(--white);
}
nav ul {
  display: flex;
}
nav h1 {
  color: var(--heading-color);
}
nav h1 span {
  color: var(--green-color);
}
nav > ul > li > a {
  font-size: 17px;
  line-height: 21px;
  color: #323232;
  padding: 21px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.b_name {
  font-size: 22px;
  color: #323232;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  display: inline-block;
  position: relative;
  top: -1px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  letter-spacing: -0.01em;
}
.d-call {
  display: none;
}
.booking {
  display: flex;
  justify-content: center;
}
.mail-us {
  display: flex;
  justify-content: space-around;
  width: 65%;
}
.banner {
  margin-top: 50px;
  height: 40vh;
  padding: 40px 0;
  background: url(images/section-banner.jpg) no-repeat center right/cover;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.title h1 {
  font-weight: 800;
  color: var(--white);
  margin-top: 10px;
}
.breadcrumb {
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.breadcrumb a {
  color: var(--white);
}
.breadcrumb a::after {
  content: "/";
  font-size: 16px;
  color: var(--white);
  margin: 0 10px;
}
.experience {
  margin-top: 50px;
}
.layout_wrap {
  position: relative;
}
.layout-1 {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 21px;
  padding-left: 35px;
  margin-bottom: 0;
}
.layout {
  position: absolute;
  max-width: 53%;
  bottom: 0;
  left: 0px;
}
.mt-default {
  margin-top: 30px;
}
.exp-text small {
  font-family: Poppins, sans-serif;
  color: #52b765;
  font-size: 13px;
  line-height: 26px;
  font-weight: 600;
  position: relative;
  letter-spacing: 0.07em;
}
.exp-text ul li::before {
  content: "\f00c";
  font-family: "fontAwesome";
  color: var(--green-color);
  margin-right: 15px;
  font-size: 16px;
}
.records {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}
.s-icon {
  display: flex;
  width: 100%;
  padding: 15px 70px;
}
.s-icon img {
  width: 35px;
}
.records-txt {
  margin-left: 25px;
}
.records-txt p {
  margin-top: 5px;
}
.advantages {
  margin-top: 60px;
}
.align {
  text-align: center;
}
.advantages_wrap {
  margin: 30px 0;
}
.adv-txt {
  margin-left: 10px;
}
.adv-txt h5 {
  margin-top: 0;
  font-size: 18px;
}
.adv-txt p {
  margin-top: 2px;
}

.adv_inner {
  display: flex;
  margin: 20px 0;
}
.staffs {
  margin: 60px 0;
}
.staffs small {
  color: var(--green-color);
  font-weight: 700;
}
.staffs h4 {
  margin-top: 10px;
}
.staff_slides {
  margin: 20px 0;
  position: relative;
}
.staff_1 {
  width: 100%;
  display: flex;
  text-align: center;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
}
.main_staff img {
  max-width: 100%;
  height: auto;
  width: 150px;
  margin-bottom: 15px;
  border-radius: 50%;
}
.main_staff h3 {
  font-size: 18px;
  line-height: 28px;
}
.main_staff p {
  margin: 5px;
}
.f-social {
  display: flex;
}
.contact_us li {
  color: #e7e7e7;
}
.f-social li {
  background: #fff;
  width: 50px;
  height: 50px;
  color: #e7e7e7;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.f-social svg {
  transition: 0.2s;
  cursor: pointer;
}
.f-social li:hover.svg {
  fill: red;
}
footer {
  padding: 30px 0 20px;
  background-color: #323232;
  color: #e7e7e7;
}
.link_1 h1 {
  font-size: 25px;
  color: #e7e7e7;
}
.link_1 {
  /* color: #e7e7e7; */
  margin-bottom: 30px;
}
.link_1 p {
  color: #e7e7e7;
  margin-top: 7px;
}
.link_1 input {
  outline: 0;
  margin-top: 10px;
  border: 0;
  border-radius: 3px;
  padding: 10px;
}
.link_1 button {
  margin-top: 15px;
}
.footer_txt {
  margin: 20px 0;
}
.copyright {
  text-align: center;
  color: var(--p-color);
}
.copyright span {
  color: var(--green-color);
}
.f-policy li a {
  color: var(--p-color);
  position: relative;
}
.f-policy li a:hover {
  color: var(--green-color);
}
.f-policy li {
  margin-top: 7px;
  text-align: center;
}
.hover-effect h5 {
  position: relative;
  cursor: pointer;
}
.hover-effect h5::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #52b765;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.hover-effect h5:hover::before {
  width: 100%;
}
.address::before {
  content: "\f041";
  font-size: 16px;
  font-family: "FontAwesome";
  color: var(--green-color);
  margin-right: 10px;
}
.schedule::before {
  content: "\f017";
  font-size: 16px;
  font-family: "FontAwesome";
  color: var(--green-color);
  margin-right: 10px;
}
.e-mail::before {
  content: "\f0e0";
  font-size: 16px;
  font-family: "fontAwesome";
  color: var(--green-color);
  margin-right: 10px;
}
.ff-phone::before {
  content: "\f095";
  font-size: 16px;
  font-family: "FontAwesome";
  color: var(--green-color);
  margin-right: 10px;
}
.f-policy li a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #52b765;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.f-policy li a:hover:before {
  width: 100%;
}

/* ============
SERVICES PAGES
=============== */
.service_card {
  margin: 50px 0;
}
.img_icon {
  margin-top: 30px;
  position: relative;
}
.tt-title p {
  margin-top: 0;
}
.tt-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -20px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--green-color);
  border-radius: 50%;
  min-width: 60px;
  font-size: 26px;
  left: 25px;
}
.tt-icon svg {
  width: 35px;
  height: 35px;
}
.tt-icon svg path {
  fill: #fff;
}

.brand-name {
  font-size: 30px;
  font-weight: 600;
  color: #323232;
  color: var(--heading-color);
}
.brand-name span {
  color: var(--green-color);
}
.coupon-wrap {
  width: 100%;
}

.owl-dots {
  margin-top: 10px;
  text-align: center;
}
.owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 16px;
  outline: 0;
  border-radius: 50%;
  background-color: #eaedea !important;
  cursor: pointer;
  transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active {
  background-color: var(--green-color);
}
.carousel {
  max-width: 1200px;
  margin: auto;
}
.f-coupon {
  margin-top: 25px;
  padding: 5px;
  position: relative;
  border: 3px dashed #f1f4f1;
  background-color: #fff;
}
.discount-1,
.discount-2,
.discount-3,
.print {
  height: auto;
  padding: 15px 20px;
}
.d-top {
  margin-top: 0;
}
.discount-2 {
  background-color: var(--green-color);
}
.discount-2 h1 {
  color: var(--white);
}
.discount-2 h6 {
  font-size: 16px;
  line-height: 23px;
  font-weight: 600;
  color: var(--white);
}
.discount-1,
.print {
  background-color: #f1f4f1;
}
.img_icon img {
  height: 310px;
}
.print {
  color: var(--p-color);
}
.discount-1 {
  color: var(--p-color);
}

/* =====
      CONTACT 
      =======*/
.information {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.contact_input {
  margin-top: 40px;
}
.contact_input label {
  color: var(--p-color);
}
.contact_check {
  width: 35px;
  height: 16px;
  color: var(--p-color);
  margin-top: 20px;
}
.map {
  position: relative;
}
.map-layout {
  position: absolute;
  width: 40.5%;
  top: 0;
  right: 40px;
  background-color: #fff;
  padding: 50px;
  margin-bottom: 120px;
  z-index: 2;
}
.f-mail {
  margin-right: 5px;
}
.s-phone {
  margin-left: 5px;
}

.auto-display {
  display: flex;
}
.f-mail {
  margin-right: 5px;
}
.s-phone {
  margin-left: 5px;
}
/*=====
 PRICES
 ======== */
.promo_card {
  height: auto;
  width: 100%;
  overflow: hidden;
  max-width: 324px;
  margin: 20px auto;
  cursor: pointer;
  transition: all ease-in 0.3s;
  background-color: var(--white);
  padding: 50px;
  box-shadow: 0 10px 20px rgb(157 174 185 / 15%);
}

.promo_icon svg {
  width: 90px;
  height: 90px;
}
.promo_icon svg path {
  fill: #000;
}
.promo_price h2 {
  color: var(--green-color);
}
.show_order {
  display: none;
  margin: 20px auto;
}
.the_button {
  display: block;
}
/* .the_button button {
  width: 100%;
  display: block;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0 19px 40px rgba(157, 174, 185, 0.2);
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #323232;
  padding: 10px 20px;
  height: 45px;
  margin-top: 15px;
} */
figure:hover {
  border: 0;
  color: var(--green-color);
}
.w-background {
  background-color: #fff;
  color: var(--p-color);
}
.on_me {
  color: #fff;
  transition: all ease 0.3s;
  background: linear-gradient(to left, #44ae6f, #54b963);
}

.on_me:hover {
  color: #fff;
}
.price_parent {
  position: relative;
  margin-bottom: 50px;
}
.most_popular,
.all_list,
.all_list2 {
  display: none;
  margin-top: 30px;
}
.current--tab {
  transition: all ease 0.3s;
  display: block;
}
.popular_price,
.full_price,
.other_prices {
  width: 100%;
  cursor: pointer;
  transition: all ease 0.3s;
  display: block;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0 19px 40px rgba(157, 174, 185, 0.2);
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
  height: 45px;
  margin-top: 15px;
}

.tags {
  display: flex;
  align-items: center;
  padding: 6px 28px;
  border-radius: 19px;
  justify-content: space-between;
}
.tags small,
.tags p {
  margin-top: 0;
}
.most_popular .tags:nth-child(odd) {
  background-color: #f8f9f8;
}
.all_list .tags:nth-child(even) {
  background-color: #f8f9f8;
}

.all_list2 .tags:nth-child(odd) {
  background-color: #f8f9f8;
}
.wrap_card {
  height: auto;
  padding: 50px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 10px 20px rgb(157 174 185 / 15%);
  margin: 30px auto;
}
.wrap_card h2 {
  text-align: center;
}
hr {
  border: 1px solid #f4f4f4;
}
.package_icon {
  width: 95px;
  height: 95px;
  align-items: center;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  background-color: var(--green-color);
  border-radius: 50%;
  min-width: 60px;
  font-size: 26px;
}
.package_icon svg {
  width: 40px;
  height: 40px;
}
.package_icon svg path {
  fill: var(--white);
}
.collapse h5 {
  font-size: 25px;
  text-align: center;
}
.collapse p {
  font-size: 16px;
  line-height: 26px;
  color: var(--green-color);
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin: 2px 0 0 0;
  letter-spacing: 0.07em;
  text-align: center;
}
.inner_content ul {
  width: 200px;
  margin: 20px auto;
}
.inner_content ul li {
  margin-top: 5px;
}
/*==========================
 MEDIA QUERY FROM HERE 500px
 ============================ */
@media (min-width: 560px) {
  .d-call {
    display: block;
  }
}
@media (min-width: 500px) {
  .service_card-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .service_card {
    width: 50%;
    padding: 0 20px;
  }
  h5 {
    font-size: 16px;
    line-height: 27px;
    margin-top: 6px;
  }
  .advantages_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
/*====
 650PX
====== */
@media (max-width: 650px) {
  .owl-carousel .owl-item img {
    width: 150px !important;
  }
  .our_address {
    width: 100% !important;
  }
}

/* ======
1187
====== */
@media (max-width: 1187px) {
  .tel-social {
    display: none;
  }
  .mail-us {
    width: 100%;
    justify-content: space-between;
  }

  .hambuger {
    cursor: pointer;
    margin-left: 25px;
    margin-top: 10px;
  }
  .hambuger div {
    width: 25px;
    background-color: var(--heading-color);
    height: 3px;
    margin: 5px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    width: 280px;
    left: 0;
    top: 50px;
  }
  .d-call {
    display: none;
  }
}

@media (min-width: 650px) {
  .width-50 {
    width: 50%;
    padding: 0 20px;
  }

  .adv_inner {
    width: 40.3%;
    padding: 0 10px;
  }
  .width-60 {
    width: 60%;
    padding: 0 40px;
  }
  .banner {
    height: 200px;
  }
  .breadcrumb {
    font-size: 17px;
  }
  .d-sb-s {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .title h1 {
    font-size: 48px;
  }
  .experience {
    display: flex;
    position: relative;
  }
  .history {
    display: flex;
  }
  .overlay-card img {
    width: 50%;
    height: 800px;
  }
  .aside-service {
    background: white;
    max-width: 720px;
    margin: 40px 0 40px -50px;
    padding: 30px;
    width: 50.3%;
  }
  .aside-service-2 {
    background: #ffffff;
    max-width: 720px;
    margin: 0px 0 40px 0px;
    padding: 30px;
    padding-top: 0px;
    width: 50.3%;
  }
}

/*=====
768px
===== */
@media (min-width: 768px) {
  .ff-desktop {
    display: flex;
    justify-content: space-between;
  }
  .b_name {
    font-size: 26px;
  }
  .our_address h5 {
    font-size: 18px;
  }
  .table-head {
    width: 60%;
  }
  .link_1 {
    max-width: 33.3%;
    padding: 0 15px;
    margin: 0;
  }
  .footer_txt {
    display: flex;
    justify-content: space-between;
  }
  .f-policy {
    display: flex;
  }
  .f-policy li {
    padding: 0 10px;
  }
  .adv_inner {
    width: 33.3%;
    padding: 0 30px;
  }
  .layout_wrap {
    width: 40%;
  }
  .popular_price,
  .full_price,
  .other_prices {
    width: 33%;
    margin: 0 10px;
    padding: 15px 20px;
    height: 55px;
    font-size: 16px;
  }
  .s-icon {
    width: 50%;
    padding: 30px;
  }
  .the_button {
    justify-content: space-between;
    display: flex;
  }
  .current--tab {
    display: flex;
    justify-content: space-between;
  }

  .first_table {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 150px;
  }
  .nav-text {
    display: none;
  }
  .our_address {
    width: 35.5%;
  }
  h4 {
    font-size: 30px;
    line-height: 38px;
    margin-top: 11px;
    font-weight: 600;
  }
  h5 {
    font-size: 17px;
    font-weight: 600;
  }
  button {
    height: 35px;
    font-size: 12px;
  }
  .w-lady {
    height: auto;
  }
  .nav ul {
    top: 0px;
    position: absolute;
    display: flex;
  }
  .m-height {
    margin-top: 20px;
  }
  nav {
    transition: min-height 0.5s;
    min-height: 53px;
  }
  .nav_book {
    display: none;
  }
}

/*======
 1024PX
======== */
@media (min-width: 1024px) {
  .banner {
    margin-top: 50px;
    height: 288px;
    padding: 120px 0;
    background: url(images/section-banner.jpg) no-repeat right center/cover;
  }
  .information {
    justify-content: space-between;
  }
  .f-form {
    display: none;
  }
  .s-icon {
    width: 25%;
    padding: 0 30px;
  }
  .aside-service-2 {
    margin: 0px 50px 40px 40px;
  }
  .width-60 {
    width: 60%;
    padding: 0 55px;
  }
  .n-container {
    max-width: 1200px;
  }
  .exp-text small {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
  }
  .mt-default {
    margin-top: 70px;
  }
  section {
    margin: 70px 0;
  }
  .img_icon img {
    height: 310px;
  }
  .service_card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .service_card {
    margin: 30px 0px;
    width: 33%;
    padding: 0 15px;
  }
  /* Experiece */

  .aside-service {
    position: relative;
    z-index: 2;
    background: white;
    padding: 70px 50px;
    max-width: 720px;
    margin: 40px 0 40px -50px;
    padding: 75px 80px 8px;
    width: 50.3%;
  }
  .aside-service ul {
    margin-top: 10px;
  }
  .aside-service ul li {
    margin-top: 2px;
  }
  .tt-icon {
    width: 80px;
    height: 80px;
  }

  .icon-wrap {
    width: 100px;
    height: 60px;
    margin-right: 15px;
  }
  .tt-icon svg,
  .icon-wrap img {
    width: 40px;
    height: 40px;
  }
  .records {
    margin: 100px auto;
  }
  .our_address {
    padding: 20px 30px;
    width: 25%;
  }
  .b_name {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .d-call {
    display: none;
  }
}
@media (max-width: 1024px) {
  .owl-dot {
    width: 6px;
    height: 6px;
  }
  .owl-dots {
    margin: 0 6px;
  }
  .map iframe {
    height: 350px !important;
  }
  .map-layout {
    display: none;
  }
  p,
  small,
  li {
    font-size: 15px;
    line-height: 24px;
  }
}
