*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

nav{
    height: 60px;
    padding: 10px 100px;
}
.nav-logo img{
    width: 20%;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/laptop2.jpg);
    background-size: cover;
    padding: 0 100px;
}


.content{
    margin-top: 180px;
    color: #fff;
}
.content h1
{
    font-size: 60px;
}

.profile-search{
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 15px 20px;
    background: #fff;
    border-radius: 5px;
    margin: 20px 0;
}
.profile-search input{
    background: transparent;
    outline: none;
    width: 500px;
    border: none;
}
.profile-search button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
.profile-search button img{
    width: 20%;
    margin-left: 20px;
}


/* MEDIA QUARY */

@media(max-width:700px){
    .container{
        width: 100%;
        min-height: 100vh;
        background-position: center;
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6))
        ,url(images/mohammadreza-alidoost-ZkaybGHPSZ8-unsplash.jpg);
        background-size: cover;
        padding: 0;
    }
    nav{
        background-color: #fff;
        height: 55px;
        padding: 13px 10px;
    }
    .content h1 {
        font-size: 50px;
        margin-left: 30px;
    }
    .profile-search input{
        width: 250px;
    }
    .profile-search {
        margin: 20px 25px;
    }
    .nav-logo img{
        margin-left: 30px;
        width: 60%;
    }
    .nav-links {
      display: none;
    }
}
